beautifulsoup4
colorama
config
num2words
playsound==1.2.2
PyAudio==0.2.13
PyAutoGUI==0.9.53
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyTelegramBotAPI
python-telegram-bot==20.3
requests
vosk==0.3.45